<div class="container">
  <h1>Welcome to the Thunder Dome!</h1>
  
  <div id="create_user">
  <form action="/create_user" method="POST">
    <br> New to the site? Create an account below<br><br>
    <label>First Name: <input type='text' name='create_user[first_name]'></label><br>
    <label>Last Name: <input type='text' name='create_user[last_name]'></label><br>
    <label>Email: <input type='text' name='create_user[email]'></label><br>
    <label>Password: <input type='text' name='create_user[password]'></label><br>

    <input type="submit" value="Create User">
  </form>
  </div>

  <div id="log_in">
  <form action="/login" method="POST">
    <br>Existing user? Log in below <br><br>
    <label>Email: <input type="text" name="user[email]"></label>
    <br>
    <label>Password: <input type="text" name="user[password]"></label>
    <br>
    <input type="submit" value="Log in">
  </form>
  </div>
</div>
